h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: D-din, sans-serif;
  color: #0a1a2e;
  font-size: 54px;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: D-din, sans-serif;
  color: #0a1a2e;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: D-din, sans-serif;
  color: #0a1a2e;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: D-din, sans-serif;
  color: #495057;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #758799;
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-family: Inter, sans-serif;
  color: #495057;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
}

.s {
  padding-top: 100px;
  padding-bottom: 100px;
}

.s.hero {
  height: 100vh;
  background-image: url('../images/hero-img.png');
  background-position: 50% 50%;
  background-size: cover;
}

.container {
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.feature-text {
  padding-right: 40px;
  padding-left: 40px;
}

.flex-col-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-col-wrapper.v-align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-2col {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px 16px;
}

.flex-2col.slide-up.middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.hero-wrapper {
  width: 50%;
  margin-top: 100px;
}

.h1-hero {
  margin-bottom: 30px;
  color: #fff;
}

.header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  margin-right: auto;
  margin-left: auto;
}

.nav-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link-wrapper {
  margin-right: 24px;
  margin-left: 24px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #758799;
}

.nav-link-wrapper:hover {
  color: #fff;
}

.nav-link-wrapper:active {
  color: #f38a31;
}

.nav-link-wrapper.footer {
  margin-bottom: 10px;
  color: #758799;
}

.nav-link-wrapper.cta {
  color: #f38a31;
}

.nav-link-wrapper.cta:hover {
  color: #f1760e;
}

.logo {
  width: 200px;
}

.logo.footer {
  margin-right: 40px;
  margin-bottom: 20px;
}

.btn {
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #f38a31;
  -webkit-transition: padding-right 200ms ease-in-out, padding-left 200ms ease-in-out;
  transition: padding-right 200ms ease-in-out, padding-left 200ms ease-in-out;
}

.btn:hover {
  padding-right: 30px;
  padding-left: 30px;
}

.btn.btn-ghost {
  border-style: solid;
  border-width: 1px;
  border-color: #f38a31;
  background-color: transparent;
  -webkit-transition: padding-right 200ms ease-in-out, padding-left 200ms ease-in-out;
  transition: padding-right 200ms ease-in-out, padding-left 200ms ease-in-out;
  color: #f38a31;
}

.btn.btn-ghost:hover {
  padding-right: 30px;
  padding-left: 30px;
}

.hero-text {
  margin-bottom: 40px;
}

.client-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.col-20 {
  width: 20%;
}

.col-20.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-80 {
  width: 80%;
  background-color: #fff;
}

.col-80.clients {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 8px;
}

.logo-cliente {
  height: 60px;
  margin-left: 60px;
  -webkit-filter: saturate(80%);
  filter: saturate(80%);
}

.logo-cliente:hover {
  -webkit-filter: none;
  filter: none;
}

.centered {
  margin-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.center {
  text-align: center;
}

.center.white._w-md {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.center._w-md {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.img--feature-analytics {
  overflow: hidden;
  max-width: 115%;
}

.img--feature-cockpit {
  overflow: hidden;
  max-width: 115%;
  margin-left: -59px;
}

.grid {
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.partners-bg {
  padding: 100px 80px;
  border-radius: 8px;
  background-color: #394958;
}

.white {
  color: #fff;
}

.white._60 {
  color: hsla(0, 0%, 100%, 0.6);
}

.white._60.footer {
  width: 80%;
}

.partners-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partner-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  margin: 20px;
  padding: 60px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
}

.partner-logo {
  width: 160px;
}

.vantagens-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.vantagens-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(199, 206, 212, 0.3);
}

.vantagens-icon {
  width: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.case-bg {
  position: relative;
  height: 500px;
  background-color: #394958;
}

.cases-wrapper {
  position: relative;
  margin-top: -450px;
}

.image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 400px;
  margin-top: -120px;
  margin-left: -100px;
}

.caes-box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.case-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 460px;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #c7ced4;
}

.case-box.upper {
  margin-top: -40px;
}

.destaque-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-block-10 {
  width: 100%;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #183d68;
}

.video-icon {
  margin-bottom: 40px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.s-2 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.s-2.s--footer {
  position: relative;
  z-index: 12;
  padding-top: 120px;
  background-color: #052433;
}

.s-2.s--footer-note {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #142e4c;
}

.footer-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.social-icon {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-col2-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.p-small {
  font-size: 14px;
}

.cta {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #f38a31;
}

.cta:hover {
  color: #dd7115;
}

.nav-link {
  margin-right: 20px;
  margin-left: 20px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #758799;
}

.nav-link:hover {
  color: #fff;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .s.hero {
    background-position: 100% 50%;
  }
  .feature-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .flex-col-wrapper.v-align-middle.reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .flex-2col {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .flex-2col.slide-left {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .flex-2col.slide-right {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero-wrapper {
    width: 100%;
    margin-top: 140px;
  }
  .nav-link-wrapper {
    display: none;
  }
  .col-20.arrow {
    display: none;
  }
  .col-80.clients {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 0px;
  }
  .logo-cliente {
    height: 40px;
    margin: 20px;
  }
  .centered {
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .center.white._w-md {
    width: 100%;
  }
  .center._w-md {
    width: 100%;
  }
  .img--feature-analytics {
    max-width: 100%;
  }
  .img--feature-cockpit {
    max-width: 100%;
    margin-left: 0px;
  }
  .partners-bg {
    padding-right: 60px;
    padding-left: 60px;
  }
  .partner-box {
    width: 40%;
    padding: 40px 20px;
  }
  .vantagens-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .vantagens-box {
    width: 100%;
    margin-top: 20px;
  }
  .caes-box-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .case-box {
    width: 100%;
    margin-top: 20px;
  }
  .case-box.upper {
    margin-top: 20px;
  }
  .destaque-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-11 {
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .s-2.s--footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-content-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-footer {
    display: none;
  }
  .cta {
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    color: #f38a31;
  }
  .cta:hover {
    color: #e76d05;
  }
  .nav-link {
    color: #758799;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .flex-2col.slide-up.middle {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .col-80.clients {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .partner-box {
    width: 100%;
  }
  .case-box {
    height: 300px;
  }
  .destaque-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .s {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .flex-col-wrapper.v-align-middle.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-2col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .flex-2col.slide-up.middle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero-wrapper {
    margin-top: 220px;
  }
  .cta-wrapper {
    display: none;
  }
  .hero-text {
    display: none;
  }
  .centered {
    padding-right: 0px;
    padding-left: 0px;
  }
  .partners-bg {
    padding: 60px 0px;
  }
  .vantagens-box {
    padding: 20px;
  }
  .case-box {
    height: 240px;
  }
  .destaque-wrapper {
    padding-top: 40px;
  }
  .s-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .s-2.s--footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-12 {
    margin-bottom: 20px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'D-din';
  src: url('../fonts/D-DIN-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'D-din';
  src: url('../fonts/D-DIN.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}